.gallery-item {
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  min-height: 420px;
}

.gallery-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(208, 10, 178, 0.15);
}

.img-fixed {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.card-title {
  font-weight: 600;
  color: #b17a1a;
  margin-bottom: 0.5rem;
}
.card-text {
  font-size: 0.95rem;
  color: #555;
}
